@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@{
    var GetCurUserId = userManager.GetUserId(User);

    if (GetCurUserId != null)
    {
        ViewBag.GetUserAvatar = userManager.GetUserAsync(User).Result.Avatar;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BubbleNewsSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.tiny.cloud/1/a98z1kezz0aqh1x906vxdnxnlj4j8f9eft7pum5mr79mjyan/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-0">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo/Bubblelogo.png" alt="Alternate Text" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="News" asp-action="news">News</a>
                        </li>

                        @if (GetCurUserId != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="News" asp-action="NewsCRUD">Create news</a>
                            </li>
                        }
                        @if (GetCurUserId != null)
                        {
                            if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Users Controll</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Roles" asp-action="Index">Role</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (ViewBag.GetUserAvatar != null)
                {
                    <a asp-controller="Account" asp-action="MyAccount">
                        <img class="mr-1 ml-1" style="border-radius: 50%; width: 50px; height: 50px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.GetUserAvatar))" />
                    </a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="MyAccount">
                        <img class="mr-1 ml-1" style="border-radius: 50%; width: 50px; height: 50px;" src="~/Avatar/UnknownAvatar.jpg" />
                    </a>
                }
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="m-1 btn btn-secondary" type="submit" value="Sign out" />
                </form>
            }
            else
            {
                <a class="m-1 btn btn-secondary" asp-controller="Account" asp-action="Login">Sign in</a>
                <a class="m-1 btn btn-secondary" asp-controller="Account" asp-action="Register">Register</a>
            }
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Bubble News
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
