@model BubbleNewsSite.Models.News

@{ 
    ViewBag.Title = "Add news";
}

<form asp-action="Create" asp-controller="News">
    <div class="form-group">
        <label asp-for="Article"></label>
        <input class="form-control" type="text" asp-for="Article" placeholder="Article">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" id="mytextarea" placeholder="Desription"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="NewsType"></label>
        <select class="form-control" asp-for="NewsType" asp-items="BubbleNewsSite.Util.SelectListItemHelper.GetNewsType()"></select>
    </div>
    <div class="form-group">
        <label asp-for="Img"></label>
        <input class="form-control" type="text" asp-for="Img" placeholder="Image">
    </div>
    <div class="form-group">
        <label asp-for="HideNews"></label>
        <input class="form-control" type="checkbox" asp-for="HideNews">
    </div>
    <div class="form-group">
        <label asp-for="IsNewsDay"></label>
        <input class="form-control" type="checkbox" asp-for="IsNewsDay" >
    </div>
    <div class="form-group">
        <label asp-for="IsNewsWeek"></label>
        <input class="form-control" type="checkbox" asp-for="IsNewsWeek">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Send"/>
    </div>
</form>
