@model BubbleNewsSite.Models.News

@{
    ViewBag.Title = "Details";
}
<div>
    <dl class="dl-horizontal">
        <dt>Article news</dt>
        <dd>@Model.Article</dd>

        <dt>Description</dt>
        <dd>@Html.Raw(Model.Description)</dd>

        <dt>News type</dt>
        <dd>@Model.NewsType</dd>

        <dt>Image</dt>
        <dd>@Model.Img</dd>

        <dt>Is the news hidden?</dt>
        @if (Model.HideNews == true)
        {
            <dd>Yes</dd>
        }
        else
        {
            <dd>No</dd>
        }
        <dt>Is this the news of the day?</dt>
        @if (Model.IsNewsDay == true)
        {
            <dd>Yes</dd>
        }
        else
        {
            <dd>No</dd>
        }
        <dt>Is this the news of the wekk?</dt>
        @if (Model.IsNewsWeek == true)
        {
            <dd>Yes</dd>
        }
        else
        {
            <dd>No</dd>
        }
    </dl>
</div>