@model BubbleNewsSite.Models.News

@{
    ViewBag.Title = "Edit news";
}

<form asp-action="Edit" asp-controller="News">
    <div class="form-group">
        <label class="control-label" asp-for="Article"></label>
        <input class="form-control" type="text" asp-for="Article">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" id="mytextarea">
    </div>
    <div class="form-group">
        <label asp-for="NewsType"></label>
        <select class="form-control" asp-for="NewsType" asp-items="BubbleNewsSite.Util.SelectListItemHelper.GetNewsType()"></select>
    </div>
    <div class="form-group">
        <label asp-for="Img"></label>
        <input class="form-control" type="text" asp-for="Img">
    </div>
    <div class="form-group">
        <label asp-for="HideNews"></label>
        <input class="form-control" type="checkbox" asp-for="HideNews">
    </div>
    <div class="form-group">
        <label asp-for="IsNewsDay"></label>
        <input class="form-control" type="checkbox" asp-for="IsNewsDay">
    </div>
    <div class="form-group">
        <label asp-for="IsNewsWeek"></label>
        <input class="form-control" type="checkbox" asp-for="IsNewsWeek">
    </div>
    <div class="form-group">
        <input class="btn btn-primary"  type="submit" value="Send"/>
    </div>

    <input type="hidden" asp-for="DateCreateNews" readonly>
    <input type="hidden" asp-for="WhoCreated" readonly>
    <input type="hidden" asp-for="CountViews" readonly/>
</form>
