@model BubbleNewsSite.Models.News

@{
    ViewBag.Title = "Edit";
}

<form asp-action="Edit" asp-controller="News">
    <div class="form-group">
        <label asp-for="Article" class="control-label"></label>
        <input type="text" asp-for="Article" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" id="mytextarea">
    </div>
    <div class="form-group">
        <label asp-for="NewsType"></label>
        <select asp-for="NewsType" asp-items="BubbleNewsSite.Util.SelectListItemHelper.GetNewsType()" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Img"></label>
        <input type="text" asp-for="Img" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="HideNews"></label>
        <input type="checkbox" asp-for="HideNews" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="IsNewsDay"></label>
        <input type="checkbox" asp-for="IsNewsDay" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="IsNewsWeek"></label>
        <input type="checkbox" asp-for="IsNewsWeek" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>

    <input type="datetime" asp-for="DateCreateNews" class="d-none">
    <input type="text" asp-for="WhoCreated" class="d-none">
</form>
