@model BubbleNewsSite.ViewModels.UserChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutLogReg.cshtml";
}
<div class="col-md-12 d-flex justify-content-center pt-5 pb-5">
    <a asp-action="Index" asp-controller="Home">
        <img src="~/logo/Bubblelogo.png" alt="Logo Bubbles News" />
    </a>
</div>

<div class="col-md-12 d-flex flex-wrap justify-content-center align-content-center">
    <div class="col-md-6 d-flex flex-wrap justify-content-center">
        <h2 class="col-md-12 d-flex justify-content-center align-content-center">
            Change password
        </h2>
        <form class="col-md-12 pt-3" asp-action="ChangePasswordCurUser" asp-controller="Account">
            <div class="col-md-12 text-danger" asp-validation-summary="All"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <div class="col-md-12 pb-3">
                <input class="form-control" type="text" asp-for="OldPassword" placeholder="Old password" />
            </div>
            
            <div class="col-md-12 pb-3">
                <input class="col-md-12 form-control pb-3" type="text" asp-for="NewPassword" placeholder="New password" />
            </div>

            <div class="col-md-12 pb-3 d-flex justify-content-end">
                <input class="btn btn-dark" type="submit" value="Change" />
            </div>
        </form>
    </div>
</div>

