@{
    ViewBag.Title = "Reset the password";
    Layout = "~/Views/Shared/_LayoutLogReg.cshtml";
}

<div class="col-md-12 d-flex justify-content-center pt-5 pb-5">
    <a asp-action="Index" asp-controller="Home">
        <img src="~/logo/Bubblelogo.png" alt="Logo Bubble News" />
    </a>
</div>

<div class="col-md-12 d-flex flex-wrap justify-content-center">
    <h2 class="col-md-12 d-flex justify-content-center pb-2">
        Reset the password
    </h2>

    <div class="col-md-12 d-flex justify-content-center">
        To reset your password, follow the link in the letter sent to your email.
    </div>   
</div>
