@model BubbleNewsSite.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogReg.cshtml";
}
<div class="col-md-12 d-flex justify-content-center pt-5 pb-5">
    <a asp-action="Index" asp-controller="Home">
        <img src="~/logo/Bubblelogo.png" alt="Logo Bubbles News" />
    </a>
</div>
<div class="col-md-12 d-flex flex-wrap justify-content-center align-content-center">
    <div class="col-md-4 d-flex flex-wrap justify-content-center">
        <h2 class="col-md-12 d-flex justify-content-center align-content-center">Sign in</h2>
        <form class="col-md-12" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="col-md-12" asp-validation-summary="ModelOnly"></div>
            <div class="col-md-12 pt-3 pb-3">
                <input class="form-control" asp-for="Email" placeholder="Enter email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="col-md-12 pb-3">
                <input class="form-control" asp-for="Password" placeholder="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-md-12 form-check d-flex pb-3 ml-3">
                <label class="form-check-label" asp-for="RememberMe"></label><br />
                <input class="form-check-input" asp-for="RememberMe" />
            </div>
            <div class="col-md-12 pb-3 d-flex justify-content-end">
                <input class="btn btn-dark d-flex justify-content-end" type="submit" value="Sign in" />
            </div>
        </form>
        <div class="col-md-12 d-flex flex-wrap">
            <a class="col-md-4 d-flex justify-content-start text-decoration-none text-secondary" asp-action="Register" asp-controller="Account">Register</a>
            <a class="col-md-8 d-flex justify-content-end text-decoration-none text-secondary" asp-action="ForgotPassword" asp-controller="Account">Forgot password?</a>
            <form class="col-md-12 mt-3 d-flex justify-content-end" method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                <div>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" name="provider" value="@provider.Name" style="border:1px solid white; background-color: transparent;">
                            <img src="~/img/google-icons.png" style="height:50px; width: 50px;" />
                        </button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
