@model BubbleNewsSite.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogReg.cshtml";
}

<div class="col-md-12 d-flex justify-content-center pt-5 pb-5">
    <a asp-action="Index" asp-controller="Home">
        <img src="~/logo/Bubblelogo.png" alt="Logo Bubble News" />
    </a>
</div>
<div class="col-md-12 d-flex flex-wrap justify-content-center">
    <div class="col-md-6 d-flex flex-wrap justify-content-center">

        <h2 class="col-md-12 d-flex justify-content-center">New user registration</h2>

        <form class="col-md-12" method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-md-12 pt-3 pb-3">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="col-md-12 pb-3">
                <input class="form-control" asp-for="FirstName"  placeholder="First name" />
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="col-md-12 pb-3">
                <input asp-for="LastName" class="form-control" placeholder="Last name" />
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="col-md-12 pb-3">
                <select asp-for="Gender" asp-items="BubbleNewsSite.Util.SelectListItemHelper.Gender()" class="form-control"></select>
            </div>
            <div class="col-md-12 pb-3">
                <input class="form-control" asp-for="Email" placeholder="Email" />
                <span class="text-danger" asp-validation-for="Email" ></span>
            </div>
            <div class="col-md-12 pb-3">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="col-md-12 pb-3">
                <input class="form-control" asp-for="PasswordConfirm" placeholder="Password confirm" />
                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
            </div>
            <div class="col-md-12 pb-3 d-flex justify-content-end">
                <input class="btn btn-dark" type="submit" value="Register" />
            </div>
        </form>
    </div>
</div>
