@{
    ViewBag.Title = "Password reset confirmation";
    Layout = "~/Views/Shared/_LayoutLogReg.cshtml";
}

<div class="col-md-12 d-flex justify-content-center pt-5 pb-5">
    <a asp-action="Index" asp-controller="Home">
        <img src="~/logo/Bubblelogo.png" alt="Logo Bubble News" />
    </a>
</div>

<div class="col-md-12 d-flex flex-wrap justify-content-center">
    <h2 class="col-md-12 d-flex justify-content-center pb-2">
        Password reset confirmation
    </h2>

    <div class="col-md-12 d-flex justify-content-center">
        Your password has been reset.
    </div>
</div>
